* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cce3ff;
}

header {
    background-color: #130e22;
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin-bottom: 3rem;
  }
  header img {
    width: 9%;
  }
  header .nav-links {
    margin-right: 42rem;
    margin-top: 2.6rem;
    width: 80%;
  }
  header .nav-links a {
    text-decoration: none;
    color: #fff;
    padding-right: 0.5rem;
  }
  header .nav-links a:hover {
    color: #c2bfbf;
    transition: 0.5s;
  }
  header .btn-group {
    margin-top: 0rem;
    width: 80%;
    display: flex;
  }
  header .btn-group button {
    width: 45%;
    height: 45px;
    font-size: 14px;
    border: none;
    margin-right: 15px;
  }
  header .btn-group button a{
    text-decoration: none;
    color: #080710;
  }
  header .btn-group button:hover {
    cursor: pointer;
    background-color: #cac6c6;
  }


form {
    height: 500px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(100, 98, 114, 0.6);
    padding: 30px 35px;
    margin: 1rem auto 2rem auto;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #080710;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(89, 88, 88, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 300;
}

::placeholder {
    color: #696767;
}

.checkbox-section {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.checkbox-section .checkbox {
    height: 20px;
    width: 20%;
    margin-top: 20px;
}

button {
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.frgt-pswrd-btn {
    font-size: 16px;
    margin-top: 10px;
}

.frgt-pswrd-btn a {
    color: #080710;
    text-decoration: none;
}

/* 
.social {
    margin-top: 30px;
    display: flex;
} */

/* .social div {
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #080710;
    text-align: center;
    cursor: pointer;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
} */